$tesc-blue : #004E74;

$accent-blue: #7BC6DC;
$accent-purple: #A88FC7;
$accent-yellow: #FBD27A;
$accent-red: #F87373;
$accent-green: #6ACDBD;

$primary-color: $tesc-blue;
$secondary-color: #00B4CC;
$success-color: #3adb76;
$warning-color: #F7B733;
$alert-color: #d34a32;

$sdhacks-alternate-blue: #106F87;

$light-gray: #e6e6e6;
$medium-gray: #b7b7b7;
$dark-gray: #6a6a6a;
$black: #0a0a0a;
$white: #fff;

$header-font-color: #3E3E3E;

$form-border-color: #EEEEEE;

$body-background: #fefefe;
$body-font-color: #4B4B4B;

$global-radius: 0.6rem;
$global-text-color: #656565;

// Administrator Colours
$admin-blue: #2B6177;
$admin-dark-blue: #103B4D;
$admin-background-blue: #EDF4F7;

// Used in header text
$dark-blue: #0D5166;

$default-green: #3FC0B0;
$default-yellow: #FFD07E;
$default-blue: #75C8DC;
$default-red: #F87373;
$default-purple: #AA8DC5;

$input-border: 3px solid $form-border-color;
$input-border-width: 0 0 3px 0;

$default-card-radius: 10px;
$default-card-border: 2px solid $default-purple;
