$small-font: 0.85rem;
$smaller-font: 0.75rem;
$left-padding: 1.25rem;

.admin-sidebar {
  height: 100%;
  background-color: $admin-blue;
  color: $white;
  font-family: $header-font-family;
  font-weight: 200;
  display: flex;
  flex-direction: column;

  a {
    color: $white;

    &:hover {
      color: $accent-blue;
    }

    &:focus {
      text-decoration: none;
    }
  }
  
  &__container {
    transition: max-width 0.15s linear;

    @include media-breakpoint-up(md) {
      flex: 1;
      min-height: 100vh;
    }

    &--authenticated {
      @include media-breakpoint-up(md) {
        flex: 1;
        max-width: 17rem;
      }
    }

    &--logged-out {
      height: 100%;
      max-width: 100%;
    }
  }

  &__dark {
    background-color: $admin-dark-blue;
  }

  &__children {
    flex: 1;
  }

  &__back {
    padding: 1rem $left-padding 1rem;
    margin: 0rem 0 1rem 0;

    display: block;
    width: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    min-height: 5rem;
    z-index: 3;
    padding: 0 0.5rem;
  }

  &__header-text {
    flex: 1;
  }

  &__logo {
    max-height: 3rem;
    margin: .75rem;
  }

  &__toggler {
    align-self: center;
    border-color: rgba(255, 255, 255, .3) !important;
  }

  &__user-box {
    padding: 0.75rem 1rem 0.75rem $left-padding;
    font-size: $small-font;
  }
  
  &__user-name {
    margin-bottom: 0.5rem;
    flex: 1;
  }    

  &__user-role {
    margin-bottom: 0.3rem;
  }

  &__user-toggle {
    display: flex;
    align-items: center;
  }

  &__user-editing {
    flex: 1;
    margin-left: 0.5rem;
  }

  &__selected {
    padding: 0.5rem $left-padding;
  }

  &__toggles {
    padding: 1rem $left-padding;
  }

  &__toggle {
    display: block;

    &:first-child {
      margin-bottom: 0.75rem;
    }
  }

  &__section {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__section-title {
    padding-left: $left-padding;
    font-size: $smaller-font;
    padding-bottom: 0.25rem;
  }

  &__section-link {
    display: block;
    padding: 0.5rem $left-padding;
    color: $white;

    &:focus {
      text-decoration: none;
      color: $white;
    }

    &:hover {
      background-color: $admin-dark-blue;
      color: $white;
    }

    &--active {
      background-color: $admin-dark-blue;
      border-left: 5px solid $default-green;
      padding-left: calc(#{$left-padding} - 5px);
    }
  }
}