$card-color: rgba(0,0,0,0.2);
.card {
  position: relative;
  color: #000;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid $card-color;
  box-shadow: 0px 0px 10px 1px $card-color;

  &:before {
    padding: 0.5rem;
    top: 0;
    left: 0;
    position: absolute;
    font-size: 0.8rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  &:hover {
    .card__header {
      color: darken($brand-color, 5%);
    }
  }

  &--cause {
    &:before {
      content: 'Cause';
      color: $white;
    }
  }

  &--event {
    &:before {
      content: 'Event';
    }
  }

  &--petition {
    &:before {
      content: 'Petition';
    }
  }

  &--small {
    font-size: 0.8rem;
    line-height: 1.2;

    .card-block {
      padding: 0.5rem;
    }
  }

  &__header {
    font-size: 1.2rem;
    color: $brand-color;
  }

  &__follow {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.3rem 0.6rem;
    margin: 0.5rem 0.5rem 0 0;
  }

  &__description {
    color: #000;
  }

  &__location {
    color: lighten(#000, 50%);
    margin-bottom: 0;
  }

  &-block {
    padding: 1rem;
  }
}