.sd-form {
  max-width: 800px;
  margin: auto;
  color: $tesc-blue;
  font-family: $header-font-family;
  letter-spacing: 0.05rem;

  &--full {
    max-width: none;
    margin: 0 -15px;
  }

  @mixin extended-radio {
    @include input-style;
    position: relative;
    background-color: $white;

    &:hover {
      cursor: pointer;
    }

    &-input {
      appearance: none;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      border: none;
      opacity: 0.5;
      -webkit-transition: opacity 0.2s ease;
      transition: opacity 0.2s ease;
      outline: 0 !important;

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }

      &:checked {
        border: 2px solid $tesc-blue;
        opacity: 1;
      }

      &:disabled {
        background-color: $light-gray;
      }
    }

    &-label {
      position: absolute;
      top: 0.7rem;
      width: 100%;
      text-align: center;
      display: block;
      pointer-events: none;

      @include media-breakpoint-down(md) {
        text-align: left;
        padding-left: 5.6rem;
        bottom: 1rem;
      }
    }
  }

  &__logo {
    max-height: 10rem;
    
    @include media-breakpoint-up(md) {
      margin-bottom: 1.5rem;
    }
  }

  &__wrapper {
    background-color: $body-background;
    position: relative;
    min-height: 100%;
  }

  &__suggestions-container {
    z-index: 100;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 2px;
    max-height: 10rem;
    width: calc(100% - 1.75em);

    &::-webkit-scrollbar {
      float: left;
      width: 0.75em;

      &-track {
        background-color: $white;
      }

      &-thumb {
        background-color: $dark-gray;
      }
    }
  }

  &__suggestions-list {
    list-style: none;
    background-color: $white;
    padding: 0 1rem;
    margin: 0;
  }

  &__suggestions-suggestion {
    padding: 0.25rem 1rem 0.25rem 0;
    background-color: transparent;
  }

  &__suggestions-link {
    cursor: pointer;
    width: 100%;
  }

  &__progress__bar {
    z-index: 100;
  }

  &__row {
    margin: 0;

    >* {
      margin-bottom: 1.2rem;
    }
    .no-margin-bottom {
      margin-bottom: 0;
    }
    .margin-top {
      margin-top: 1.2rem;
    }
  }

  &__dropzone {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem 0;
    border: 2px dashed $dark-gray;

    &:focus {
      outline: none !important;
    }

    &--icon {
      flex: 1;
      font-size: 3.5rem;
    }

    &--text {
      flex: 1;
      pointer-events: none;
    }
  }

  &__info {
    margin-left: 0.3rem;
    border-bottom: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px darken($body-background, 4%) inset;
  }

  &__input {
    // Default styles for inputs
    &-text,
    &-radio,
    &-checkbox,
    &-number,
    &-email,
    &-select,
    &-textarea {
      @include input-style;
      font-family: $header-font-family;
      background-color: $white;
      outline: none;
      letter-spacing: 0.05rem;
      margin: 0;
      color: $dark-gray;
      border-radius: 0;

      &:focus {
        border: 2px solid $dark-gray;
        margin: -2px;
      }
    }

    &-radio,
    &-checkbox {
      width: 1.2rem;
      height: 1.2rem;
      background-color: $white;
      box-sizing: border-box;
      cursor: pointer;
      border: 0.2rem solid $tesc-blue;
      transition: background-color 0.2s ease;

      appearance: none;
      position: relative;
      top: 0.25rem;
      margin-right: 0.25rem;

      &:focus {
        margin: 0 0.25rem 0 0;
        background-color: $white;
        border: 0.2rem solid $tesc-blue;
      }

      &:checked {
        background-color: $accent-green;
      }

      &:indeterminate {
        background-color: $medium-gray;
      }
    }

    &--error {
      border: 2px solid $alert-color;
      margin: -2px;
    }
  }

  // Special radio buttons
  &__institution {
    @include extended-radio;
    height: 15rem;

    @include media-breakpoint-down(md) {
      height: 4rem;
      margin-bottom: -0.6rem;
    }

    #institution-ucsd {
      background: url('../img/site/featurette-ucsd.png') no-repeat center center;
      background-size: 60%;
    }

    #institution-uni {
      background: url('../img/site/featurette-university.svg') no-repeat center center;
      background-size: 70%;
    }

    #institution-hs {
      background: url('../img/site/featurette-high-school.png') no-repeat center center;
      background-size: 55%;
    }

    @include media-breakpoint-down(md) {
      #institution-ucsd {
        background: url('../img/site/featurette-ucsd.png') no-repeat 1rem center;
        background-size: 15%;
      }

      #institution-uni {
        background: url('../img/site/featurette-university.svg') no-repeat 1rem center;
        background-size: 15%;
      }
      
      #institution-hs {
        background: url('../img/site/featurette-high-school.png') no-repeat 1rem center;
        background-size: 15%;
      }
    }
  }

  &__team {
    @include extended-radio;
    height: 15rem;

    /*&-label {
      top: 2rem;
    }*/

    @include media-breakpoint-down(md) {
      height: 4rem;
      margin-bottom: -0.6rem;

      /*&-label {
        top: 1rem;
      }*/
    }

    #create-team {
      background: url('../img/site/create-team.svg') no-repeat center center;
      background-size: 70%;
    }

    #join-team {
      background: url('../img/site/join-team.svg') no-repeat center center;
      background-size: 70%;
    }

    @include media-breakpoint-down(md) {
      #create-team {
        background: url('../img/site/create-team.svg') no-repeat 1rem center;
        background-size: 10%;
      }
  
      #join-team {
        background: url('../img/site/join-team.svg') no-repeat 1rem center;
        background-size: 10%;
      }
    }
  }

  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="email"],
  select,
  textarea {
    padding: 0.6rem 1.1rem 0.6rem 0.2rem;
    display: block;
    width: 100%;

    @include placeholder {
      color: $medium-gray !important;
    }
  }

  &__label {
    text-transform: uppercase;
    font-size: 0.7rem;
  }

  textarea {
    min-height: 8rem;
  }

  &__header {
    padding: 0 0 1rem;

    &-text {
      font-size: 2.5rem;
    }

    &-logo {
      max-height: 5rem;

      @include media-breakpoint-up(md) {
        max-height: 6rem;
      }
    }

    &--close {
      color: $dark-gray;
      cursor: pointer;
      float: right;
      outline: none;
      line-height: 1.4em;

      &:hover {
        color: darken($dark-gray, 20%);
      }
    }

    &--close-text {
      font-size: 0.2em;
      line-height: 0;
      display: block;
      margin-top: -10px;

      @include media-breakpoint-up(md) {
        height: 10px;
      }
    }
  }

  &__slide {
    outline: 0;
  }

  &__required {
    &::after {
      content: "*";
      color: $alert-color;
      margin-left: 5px;
      font-weight: bold;
      font-size: 1rem;
      line-height: 0;
    }
  }

  &__bullet {
    cursor: pointer;
  }

  &__container {
    outline: 0;

    input:not([type="submit"]):not([type="file"]):not([type="button"]), textarea, select {
      &:not(:disabled) {
        background-color: #fdfdfd;

        &:focus {
          background-color: darken(#fdfdfd, 2);
          outline: none;
        }
      }

      &[type=file] {
        background-color: transparent !important;
      }
      &#submitApp {
        margin-right: 10px;
      }
    }

    label {
      margin-left: 2px;
    }
  }

  &__team-code {
    text-align: center;
  }

  &__error {
    padding: 0.35rem 0.75rem 0 0;
    color: $alert-color;
  }

  &__loading {
    max-height: 3rem;
  }

  &__home {
    margin: 0 auto;
    display: block;
  }

  &__pricing {
    @include extended-radio;
    height: auto;
    min-height: 2.5rem;

    &-body {
      position: relative;
      list-style: none;
      padding-left: 0;
      padding: 1.8rem 0.3rem 0.3rem 0.3rem;
      width: 100%;
      z-index: 10;
      margin: 0;
      font-size: 0.9rem;
      pointer-events: none;
    }

    &-feature {
      padding: 0.2rem 0.5rem;
      text-align: center;

      &:not(:last-child) {
        border-bottom: 1px solid $light-gray; 
      }
    }
  }
}
