.hamburger {
  &__links {
    padding: 1rem;
    list-style: none;
    text-align: center;
    background: $white;
  }

  &__toggler {
    padding: 0.25rem 0rem;

    &:focus {
      outline: 0;
    }
  }

  &__toggle-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
  }

  &__link-item {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &--cta {
      background-color: $tesc-blue;
      border-radius: $border-radius;
    }
  }

  &__link {
    color: $tesc-blue;

    &:hover {
      color: $tesc-blue;
      text-decoration: none;
    }

    &--white {
      color: $white;

      &:hover {
        color: $white;
        text-decoration: none;
      }
    }
  }
}