.sd-nav {
  transition: opacity .25s ease-in-out;
  padding-top: 1rem;
  margin-bottom: 2rem;

  &__margin {
    margin-left : 2rem;
  }

  // Default hidden navigation bar
  &__background {
    background-color: $white;
    opacity: 0;
    box-shadow: $default-shadow;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: opacity 0.25s, visibility 0s linear 0.5s;
    min-height: 80px;

    &-active {
      opacity: 1;
    }
  }

  &__logo {
    margin-top: 12px;
    height: 2rem;
  }

  &__links {
    list-style: none;
    margin-bottom: 0;
  }

  &__link-item {
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }

  &__link {
    color: $tesc-blue;
    font-size: 1.2rem;
    transition: border-bottom 50ms linear;

    &:hover {
      border-bottom: 2px solid $tesc-blue;
    }
  }
}