.sd-inline-list {
  list-style-type: none;
  padding-left : 0px;
}
.sd-nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 8;
  transition: opacity .25s ease-in-out;
  height : 2rem;

  &__margin {
    margin-left : 2rem;
  }

  // Default hidden navigation bar
  &__background {
    background-color: $white;
    opacity: 0;
    box-shadow: $default-shadow;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: opacity 0.25s, visibility 0s linear 0.5s;
    min-height: 80px;

    &-active {
      opacity: 1;
    }
  }

  ul {
    margin-bottom: 0;
  }

  &__logo {
    margin-top: 12px;
    height: 64px;

    &-wrap {
      transition: 0.25s ease-in-out;
      transform: translateY(100px);
      display: inline-block;
      position: relative;
      top: -100px;
      z-index: 11;
    }

    // Logo translate up for animation
    &-up {
      transform: translateY(0);
    }

    @include media-breakpoint-down(md) {
      height: 60px;
      margin-top: 15px;
      margin-bottom: 12px;
    }
    @include media-breakpoint-down(md) {
      height: 50px;
      position: relative;
      z-index: 11;
    }
  }
  &__left {
    float: left;
    margin-left: 0rem;

    //blah
    @include media-breakpoint-up(lg) {
      margin-left: 0rem;
    }
  }
  &__side {
    @include media-breakpoint-down(md) {
      float: none;
      text-align: center;
    }
    img {
      max-height : 1.6rem;
      left : 2rem;
      margin-top : 1.7rem;
    }
  }
  &__right {
    float: none;
    /*margin-right: 5rem;

    //blah
    @include media-breakpoint-up(lg) {
      margin-right: 2rem;
    }*/
  }
  &__mobile {
    ul {
      padding-left: 0;
    }
  }
  &__links {
    a {
      display: inline-block;
      padding: 1.7rem 2rem 0px 2rem;
      margin-bottom: 28px;
      cursor: pointer;

      li:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
      }

      &:hover {
        text-decoration: none;
        color: $main-page-red;
      }
      &:hover li:after {
        width: 100%;
        background: $main-page-red;
      }
    }
    li {
      font-size: 18px;
      letter-spacing: 0.7px;
      line-height: 1.6;
      padding-bottom: 3px;
      text-transform: uppercase;
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &__mobile-link {
    padding-top: 15px;
    padding-bottom: 15px;

    //blah
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

/* Safari requires animations to be loaded before being called. */
@keyframes header_fadeIn {
  from { transform: translateY(-100px); }
  to { transform: translateY(0px); }
}
.mobile-link {
  cursor: pointer;
  height: 34px;
  position: absolute;
  right: 1rem;
  width: 32px;
  border: none;
  top: 24px;

  @include media-breakpoint-up(md) {
    display: none;
  }

  .mobile-hamburger {
    border-top: 3px solid;
    border-color: $tesc-blue;
    height: auto;
    position: relative;
    top: -14px;
    transition: all 0.25s;
    width: 100%;
    display: inline-block;

    &:before,
    &:after {
      border-top: 3px solid;
      border-color: $tesc-blue;
      content: ' ';
      height: 0;
      left: 0;
      position: absolute;
      right: 0;
      transition: all 0.25s;
    }
    &:before {
      top: -12px;
    }
    &:after {
      bottom: -9px;
    }
  }
}
.nav-open {
  background-color: $white;
  transition: background-color 0.25s;

  .logo {
    opacity: 0;
  }
  .mobile-link {
    .mobile-hamburger {
      border-color: transparent;
      z-index: 999999;

      &:before,
      &:after {
        transform-origin: 50% 50%;
        top: 0;
      }
      &:before {
        transform: rotate3d(0, 0, 1, 45deg);
      }
      &:after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
  .navigation {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0s;
    visibility: visible;

    li {
      transform: translateX(0px);
    }
  }
}
.navigation {
  background: $white;
  bottom: 0;
  float: none;
  left: 0;
  margin-top: 0px;
  opacity: 0;
  padding: 0px 20px;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 75px;
  transition: opacity 0.25s, visibility 0s linear 0.5s;
  visibility: hidden;
  z-index: 10;

  a {
    text-decoration: none;
    border: none;
  }
  li a {
    color: $tesc-blue;
    display: block;
    padding: 20px 0px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.6px;

    &:focus {
      outline: none;
      appearance: none;
    }
  }
  li {
    display: block;
    transform: translateX(-10px);
    transition: opacity 0.25s, transform 0.25s;
    text-align: center;
  }
  .dropdown > a {
    display: none;
  }
}

.sticky {
  position : absolute;
  right : 1.3rem;
}