.organiser-list {

    color: white; 
    li {
        list-style-type: none;
    }

    &__username {
        background: $admin-blue;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        border-radius: 3rem;
        font-weight: bold;  
        border: 2px solid $admin-blue;

        &:hover {
            background: transparent;
            color: $admin-blue;
        }

        & + & {
            margin-top: 0.5rem;
        }
    }

    &__btn {
        color: inherit;  
    }

}