.teams-filters {
  background: $white;
  padding: 1rem;
  
  &--secondary {
    background: $admin-background-blue;
  }
  
  &--border {
    border-bottom: 1px solid $medium-gray;
  }
  
  &__button {
    border: 1px solid $primary-color;
    background: $white;
    
    &:hover {
      color: $white;
      background: $primary-color;
    }
    
    &--active {
      color: $white;
      background: $primary-color;
    }
    
    &--new-closed {
      color: $white;
      background: $primary-color;

      &::before {
        content: "\F0D7";
        font-family: 'FontAwesome';
        margin-right: 0.1rem;
      }
    }

    &--new-open {
      color: $primary-color;
      background: $white;

      &::before {
        content: "\F0D8";
        font-family: 'FontAwesome';
        margin-right: 0.1rem;
      }
    }
  }
  
  &__filter {
    border: 1px solid $primary-color;
    background: $white;
  }

  &__filter-delete {
    margin-right: 0.2rem;
    border-radius: $global-radius;
    padding: 3px 6px;

    &::before {
      vertical-align: middle;
    }

    &:hover {
      background: $primary-color;
      color: $white;
    }
  }

  &__checkbox {
    border-radius: $global-radius;

    &:checked {
      background-color: $tesc-blue;
    }
  }
}