.user-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__body {
    background-color: $beach-tan;
  }

  &__container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__background {
    overflow: hidden;
    height: 100vh;
    max-height: none;
  }

  &__above {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  &__header {
    width: 100%;
  }

  &__logout {
    margin-left: 4rem;
  }

  &__header-text {
    flex: 1;
    font-family: $header-font-family;
    color: $admin-dark-blue;
  }

  &__logo {
    max-height: 3rem;
    margin: .5rem .75rem .75rem $left-padding;
  }

  &__status-box {
    text-align: left;
    font-family: $header-font-family;
    font-size: 1.2rem;

    @include media-breakpoint-up(md) {
      text-align: right;
    }
  }

  &__status {
    &--confirmed {
      color: $default-green;
    }

    &--rejected, &--declined, &--late {
      color: $default-red;
    }

    &--waitlisted {
      color: $default-blue;
    }

    &--unconfirmed {
      color: $default-purple;
    }

    &--applied {
      color: $default-purple;
    }
  }

  &__bussing {
    margin-right: 1rem;

    &--confirmed {
      color: $default-purple;
    }

    &--declined {
      color: $default-red;
    }

    &--unavailable {
      color: $default-red;
    }
  }

  &__rsvp {
    margin-left: 1rem;
  }

  &__alerts {
    width: 100%;
  }

  &__alert {
    font-family: $header-font-family;
    
    @include media-breakpoint-up(md) {
      margin: 0 auto -2rem;
    }
  }
}