@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:300,400,600');

h1 {
  font-family: 'Reem Kufi', sans-serif;
  letter-spacing: 1.6px;
  color: #2B6177;
  line-height: 1em;
}

.content {
  max-width: 600px !important;
  border-spacing: 0;
  border-collapse: collapse;
  font-family: 'Quattrocento Sans', Helvetica, Roboto, Arial, sans-serif;
  height: 100% !important;
  width: 100% !important;
  color: #646464;
  font-size: 18px;
  line-height: 150%;
  margin: 0;
  padding: 2rem; 
}

.content p {
  color: #666666;
}

.refer-text {
  margin-bottom: 5px;
}

.accident-text {
  font-size: 14px;
  line-height: 1;
}

.logo {
  width: 128px;
  height: 128px;
  margin-bottom: 2rem;
}

.tesc-logo {
  height: 50px;
  margin-bottom: 2rem;
}

a {
  display: block;
}