.dashboard-page {

    &__btn {
        position: fixed;
        bottom: 3rem;
        background: $admin-blue;
        right: 3rem;
        color: white;   
        border-radius: 50%;
        margin: 0;


        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 4rem;
        }

        &:hover {
            cursor: pointer;
            transform: translateY(-2px);
        }
    }
}