.not-found {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 10;
  left: 0;
  width: 37.5rem;
  height: 18.75rem;

  &__panel {
    background: #eee;
    padding: 2.5rem 2.5rem;
    border-radius: 0.375rem;
    width: 40em;
    margin: 3.125rem auto;
    max-width: 100%;
  }

  &__header {
    margin-bottom: 1.25rem;
  }

  &__body {
    margin-top: 1rem;
  }

  &__info {
    margin-bottom: 0.625rem;
  }
}