.user-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__background {
    overflow: hidden;
    height: 100vh;
    max-height: none;
  }

  &__above {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  &__header {
    width: 100%;
  }

  &__logout {
    margin-left: 4rem;
  }

  &__header-text {
    flex: 1;
    font-family: $header-font-family;
    color: $admin-dark-blue;
  }

  &__logo {
    max-height: 3rem;
    margin: .5rem .75rem .75rem $left-padding;
  }

  &__alerts {
    width: 100%;
  }

  &__alert {
    font-family: $header-font-family;
    
    @include media-breakpoint-up(md) {
      margin: 0 auto -2rem;
    }
  }
}